<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_room_icon_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,147}</string>
                <key>spriteSourceSize</key>
                <string>{148,147}</string>
                <key>textureRect</key>
                <string>{{1,1},{148,147}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,138}</string>
                <key>spriteSourceSize</key>
                <string>{144,138}</string>
                <key>textureRect</key>
                <string>{{1,888},{144,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_room_icon_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{289,581},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,142}</string>
                <key>spriteSourceSize</key>
                <string>{141,142}</string>
                <key>textureRect</key>
                <string>{{146,424},{141,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,139}</string>
                <key>spriteSourceSize</key>
                <string>{139,139}</string>
                <key>textureRect</key>
                <string>{{284,998},{139,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,138}</string>
                <key>spriteSourceSize</key>
                <string>{143,138}</string>
                <key>textureRect</key>
                <string>{{1,1034},{143,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_room_icon_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,138}</string>
                <key>spriteSourceSize</key>
                <string>{143,138}</string>
                <key>textureRect</key>
                <string>{{297,154},{143,138}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_room_icon_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,136}</string>
                <key>spriteSourceSize</key>
                <string>{144,136}</string>
                <key>textureRect</key>
                <string>{{151,142},{144,136}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,152}</string>
                <key>spriteSourceSize</key>
                <string>{140,152}</string>
                <key>textureRect</key>
                <string>{{1,150},{140,152}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{146,568},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,151}</string>
                <key>spriteSourceSize</key>
                <string>{130,151}</string>
                <key>textureRect</key>
                <string>{{301,1},{130,151}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,139}</string>
                <key>spriteSourceSize</key>
                <string>{143,139}</string>
                <key>textureRect</key>
                <string>{{289,299},{143,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,137}</string>
                <key>spriteSourceSize</key>
                <string>{141,137}</string>
                <key>textureRect</key>
                <string>{{143,850},{141,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{141,141}</string>
                <key>spriteSourceSize</key>
                <string>{141,141}</string>
                <key>textureRect</key>
                <string>{{141,989},{141,141}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,127}</string>
                <key>spriteSourceSize</key>
                <string>{129,127}</string>
                <key>textureRect</key>
                <string>{{276,1139},{129,127}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,137}</string>
                <key>spriteSourceSize</key>
                <string>{142,137}</string>
                <key>textureRect</key>
                <string>{{144,711},{142,137}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{135,140}</string>
                <key>spriteSourceSize</key>
                <string>{135,140}</string>
                <key>textureRect</key>
                <string>{{286,861},{135,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_room_icon_25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,133}</string>
                <key>spriteSourceSize</key>
                <string>{133,133}</string>
                <key>textureRect</key>
                <string>{{141,1132},{133,133}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{145,280},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,142}</string>
                <key>spriteSourceSize</key>
                <string>{144,142}</string>
                <key>textureRect</key>
                <string>{{1,304},{144,142}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_room_icon_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{148,139}</string>
                <key>spriteSourceSize</key>
                <string>{148,139}</string>
                <key>textureRect</key>
                <string>{{151,1},{148,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,140}</string>
                <key>spriteSourceSize</key>
                <string>{144,140}</string>
                <key>textureRect</key>
                <string>{{1,742},{144,140}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_room_icon_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,138}</string>
                <key>spriteSourceSize</key>
                <string>{142,138}</string>
                <key>textureRect</key>
                <string>{{288,721},{142,138}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,141}</string>
                <key>spriteSourceSize</key>
                <string>{144,141}</string>
                <key>textureRect</key>
                <string>{{1,596},{144,141}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_room_icon_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{143,139}</string>
                <key>spriteSourceSize</key>
                <string>{143,139}</string>
                <key>textureRect</key>
                <string>{{289,440},{143,139}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_room_icon_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{144,143}</string>
                <key>spriteSourceSize</key>
                <string>{144,143}</string>
                <key>textureRect</key>
                <string>{{1,450},{144,143}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btn_room_icon.png</string>
            <key>size</key>
            <string>{436,1267}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8f38cb79a7a57b2d5fc8021ec5b42945:e868125fe27c08a7813f9c98e2648b55:eb7f189e9fd802ed3c14a4d04baf6000$</string>
            <key>textureFileName</key>
            <string>btn_room_icon.png</string>
        </dict>
    </dict>
</plist>
