<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_game_bet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{145,148}</string>
                <key>spriteSourceSize</key>
                <string>{145,148}</string>
                <key>textureRect</key>
                <string>{{1,185},{145,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_big_w_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{140,145}</string>
                <key>spriteSourceSize</key>
                <string>{140,145}</string>
                <key>textureRect</key>
                <string>{{1,335},{140,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_big_w_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,145}</string>
                <key>spriteSourceSize</key>
                <string>{139,145}</string>
                <key>textureRect</key>
                <string>{{143,335},{139,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_big_w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,145}</string>
                <key>spriteSourceSize</key>
                <string>{139,145}</string>
                <key>textureRect</key>
                <string>{{179,1},{139,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_big_w_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,145}</string>
                <key>spriteSourceSize</key>
                <string>{139,145}</string>
                <key>textureRect</key>
                <string>{{148,185},{139,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_big_w_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{139,145}</string>
                <key>spriteSourceSize</key>
                <string>{139,145}</string>
                <key>textureRect</key>
                <string>{{284,332},{139,145}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_b_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{320,1},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_b_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{320,48},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_b_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{367,1},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_b_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{320,95},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_b_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{367,48},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_b_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{367,95},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_w_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{320,142},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_w_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{367,142},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_w_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{289,189},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_w_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{289,236},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_w_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{336,189},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_w_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{289,283},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>chip_small_w_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,45}</string>
                <key>spriteSourceSize</key>
                <string>{45,45}</string>
                <key>textureRect</key>
                <string>{{336,236},{45,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_game_circleLight.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{176,182}</string>
                <key>spriteSourceSize</key>
                <string>{176,182}</string>
                <key>textureRect</key>
                <string>{{1,1},{176,182}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chip.png</string>
            <key>size</key>
            <string>{424,481}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4a3c4f1b3f767e492286006fbde1e1b:d41af235d523b17ef5180b4299f759f9:25c6ce4daab62c6d89be3953d1bb4cd1$</string>
            <key>textureFileName</key>
            <string>chip.png</string>
        </dict>
    </dict>
</plist>
