<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>pic_village.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{84,50}</string>
                <key>spriteSourceSize</key>
                <string>{88,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{84,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bet_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{126,51}</string>
                <key>spriteSourceSize</key>
                <string>{138,53}</string>
                <key>textureRect</key>
                <string>{{87,1},{126,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bet_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,50}</string>
                <key>spriteSourceSize</key>
                <string>{131,50}</string>
                <key>textureRect</key>
                <string>{{215,1},{131,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bet_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,50}</string>
                <key>spriteSourceSize</key>
                <string>{131,50}</string>
                <key>textureRect</key>
                <string>{{348,1},{131,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bet_04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,50}</string>
                <key>spriteSourceSize</key>
                <string>{131,50}</string>
                <key>textureRect</key>
                <string>{{481,1},{131,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_bet_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,50}</string>
                <key>spriteSourceSize</key>
                <string>{132,50}</string>
                <key>textureRect</key>
                <string>{{614,1},{132,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_menuBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{748,1},{110,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_menuHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{110,57}</string>
                <key>spriteSourceSize</key>
                <string>{120,65}</string>
                <key>textureRect</key>
                <string>{{860,1},{110,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_menuRecord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{112,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{972,1},{112,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_menuSet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{112,56}</string>
                <key>spriteSourceSize</key>
                <string>{120,64}</string>
                <key>textureRect</key>
                <string>{{1086,1},{112,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1200,1},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1410,1},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1620,1},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1830,1},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{211,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{421,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{631,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{841,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1051,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1261,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1471,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>tx_niuniu_15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,0}</string>
                <key>spriteSize</key>
                <string>{208,58}</string>
                <key>spriteSourceSize</key>
                <string>{222,68}</string>
                <key>textureRect</key>
                <string>{{1681,61},{208,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>cn_100.png</string>
            <key>size</key>
            <string>{2039,120}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:414e2aa96c8c9abe98c0c933dd52462c:bc9357cbba5e53841c496c31fc30aef8:749e6fb37b10796e6d35cdd6cf54fbdc$</string>
            <key>textureFileName</key>
            <string>cn_100.png</string>
        </dict>
    </dict>
</plist>
