<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_AzureBlue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,4}</string>
                <key>spriteSize</key>
                <string>{259,104}</string>
                <key>spriteSourceSize</key>
                <string>{265,112}</string>
                <key>textureRect</key>
                <string>{{1,169},{259,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_blue.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{234,103}</string>
                <key>spriteSourceSize</key>
                <string>{244,115}</string>
                <key>textureRect</key>
                <string>{{501,64},{234,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_bulletin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{107,275},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_gray.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,104}</string>
                <key>spriteSourceSize</key>
                <string>{243,116}</string>
                <key>textureRect</key>
                <string>{{262,169},{235,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_help.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{215,275},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_hotgame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,1}</string>
                <key>spriteSize</key>
                <string>{55,218}</string>
                <key>spriteSourceSize</key>
                <string>{63,232}</string>
                <key>textureRect</key>
                <string>{{627,565},{55,218}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menu.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,120}</string>
                <key>spriteSourceSize</key>
                <string>{132,132}</string>
                <key>textureRect</key>
                <string>{{799,275},{120,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menuBack.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,1}</string>
                <key>spriteSize</key>
                <string>{60,66}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{71,64},{60,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menuHelp.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{66,68}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{133,64},{66,68}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menuRecord.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,-1}</string>
                <key>spriteSize</key>
                <string>{73,61}</string>
                <key>spriteSourceSize</key>
                <string>{85,85}</string>
                <key>textureRect</key>
                <string>{{908,1},{73,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_menuSet.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{68,64}</string>
                <key>spriteSourceSize</key>
                <string>{84,84}</string>
                <key>textureRect</key>
                <string>{{1,64},{68,64}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_orange.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{258,109}</string>
                <key>spriteSourceSize</key>
                <string>{258,109}</string>
                <key>textureRect</key>
                <string>{{539,275},{258,109}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_purple.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{235,103}</string>
                <key>spriteSourceSize</key>
                <string>{243,115}</string>
                <key>textureRect</key>
                <string>{{737,64},{235,103}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_record.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{323,275},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_red.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{234,104}</string>
                <key>spriteSourceSize</key>
                <string>{244,116}</string>
                <key>textureRect</key>
                <string>{{499,169},{234,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_return.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,106}</string>
                <key>spriteSourceSize</key>
                <string>{110,110}</string>
                <key>textureRect</key>
                <string>{{431,275},{106,106}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_yellow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,3}</string>
                <key>spriteSize</key>
                <string>{259,104}</string>
                <key>spriteSourceSize</key>
                <string>{265,112}</string>
                <key>textureRect</key>
                <string>{{735,169},{259,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_SettlementClose.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,92}</string>
                <key>spriteSourceSize</key>
                <string>{100,100}</string>
                <key>textureRect</key>
                <string>{{201,64},{92,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_balanceBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,40}</string>
                <key>spriteSourceSize</key>
                <string>{80,40}</string>
                <key>textureRect</key>
                <string>{{1,1},{80,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_clock.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{122,122}</string>
                <key>spriteSourceSize</key>
                <string>{126,126}</string>
                <key>textureRect</key>
                <string>{{347,397},{122,122}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_coin.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{239,1},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_headBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{624,186}</string>
                <key>spriteSourceSize</key>
                <string>{628,186}</string>
                <key>textureRect</key>
                <string>{{1,565},{624,186}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_headBg.png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{142,142}</string>
                <key>spriteSourceSize</key>
                <string>{142,142}</string>
                <key>textureRect</key>
                <string>{{471,397},{142,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_headFrame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{104,104}</string>
                <key>spriteSourceSize</key>
                <string>{104,104}</string>
                <key>textureRect</key>
                <string>{{1,275},{104,104}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_headMask.png.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{615,397},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_headbalanceBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,44}</string>
                <key>spriteSourceSize</key>
                <string>{154,44}</string>
                <key>textureRect</key>
                <string>{{83,1},{154,44}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_hotgameBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-6}</string>
                <key>spriteSize</key>
                <string>{182,739}</string>
                <key>spriteSourceSize</key>
                <string>{182,751}</string>
                <key>textureRect</key>
                <string>{{509,785},{182,739}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_hotgameIcon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{164,166}</string>
                <key>spriteSourceSize</key>
                <string>{164,166}</string>
                <key>textureRect</key>
                <string>{{767,397},{164,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_lostBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{295,64},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_lostList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,58}</string>
                <key>spriteSourceSize</key>
                <string>{306,76}</string>
                <key>textureRect</key>
                <string>{{292,1},{306,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_menuBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-6}</string>
                <key>spriteSize</key>
                <string>{506,632}</string>
                <key>spriteSourceSize</key>
                <string>{510,650}</string>
                <key>textureRect</key>
                <string>{{1,785},{506,632}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_menuListbg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{344,120}</string>
                <key>spriteSourceSize</key>
                <string>{350,126}</string>
                <key>textureRect</key>
                <string>{{1,397},{344,120}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_winBg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,102}</string>
                <key>spriteSourceSize</key>
                <string>{101,102}</string>
                <key>textureRect</key>
                <string>{{398,64},{101,102}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pic_winList.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{306,58}</string>
                <key>spriteSourceSize</key>
                <string>{306,76}</string>
                <key>textureRect</key>
                <string>{{600,1},{306,58}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>ui_common.png</string>
            <key>size</key>
            <string>{995,1525}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:09cdd520a752f0a6773ebdf8ab578ceb:0dcffaedc79101c2dd984ad09a2e1819:7ee1ec5b7f377442224200acdc0091e2$</string>
            <key>textureFileName</key>
            <string>ui_common.png</string>
        </dict>
    </dict>
</plist>
